@font-face {
    font-family: 'London Presley';
    src: url(london-presley-font/LondonPresley-RpE7V.ttf);
}

* {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #2e2e29;
    font-family: 'London Presley', 'Seymour One', sans-serif;
    padding: 40px;
    text-align: center;
}

#header h1 {
    color: #F26889;
    font-size: 4rem;
}

#header h2 {
    color: #14b270;
    font-size: 2rem;
}

#main-body {
    background-color: #D1D1CC;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding-top: 50px;
}

figure {
    background-color: #fff;
    border: 15px solid #fff;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
}

.attribution {
    font-size: 0.8rem;
}